# Node modules
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
*.log

# Environment variables
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db

# Build outputs
dist/
build/
.cache/

# IDE configs
.vscode/
.idea/
*.swp

# Coverage (tests)
coverage/
.nyc_output/

# Optional: lock files (si prefieres no versionarlos en equipos grandes)
# package-lock.json
# yarn.lock
# pnpm-lock.yaml
